<tr>
  <td><%= i[:name] %></td>
  <% if i[:unit] %>
    <td><%= pluralize(i[:quantity], i[:unit]) %></td>
  <% else %>
    <td><%= i[:quantity] %></td>
  <% end %>
  <% if i[:expires_on] < Date.today %>
    <td>
      <span class="badge rounded-pill bg-danger">
        <%= distance_of_time_in_words_to_now(i[:expires_on]) %> ago
      </span>
    </td>
  <% elsif (i[:expires_on] - Date.today) < 7 %>
    <td>
      <span class="badge rounded-pill bg-warning text-dark">
        <%= distance_of_time_in_words_to_now(i[:expires_on], scope: 'datetime.distance_in_words.short') %>
      </span>
    </td>
  <% else %>
    <td><%= distance_of_time_in_words_to_now(i[:expires_on]) %></td>
  <% end %>
  <td><span class="badge rounded-pill <%= i[:location] %>"><%= i[:location] %></span></td>
  <td>
    <%= link_to ingredient_path(i) do %>
      <i class="bi bi-info-circle"></i>
    <% end %>
  </td>
</tr>
