<%= form_with(model: ingredient) do |form| %>
  <% if ingredient.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(ingredient.errors.count, "error") %> prohibited this ingredient from being saved:</h2>
      <ul>
        <% ingredient.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
  <div class="row">
    <%= form.text_field :name, class: "form-control", placeholder: "Name" %>
    <small class="form-text text-muted">
      Ingredient name should take the singular form and cannot be used already
    </small>
  </div>
  <div class="row mt-2">
    <div class="col px-0">
      <%= form.number_field :quantity, class: "form-control", placeholder: "Quantity" %>
    </div>
    <div class="col px-0">
      <%= form.text_field :unit, class: "form-control", placeholder: "Unit" %>
    </div>
    <small class="form-text text-muted">
      Quantity and unit cannot be blank
    </small>
  </div>
  <div>
  </div>
  <div class="form-group row mt-2">
    <%= form.label :expires_on, class: "col-2 col-form-label" %>
    <div class="col-10">
      <%= form.date_field :expires_on, class: "form-control" %>
    </div>
  </div>
  <div class="row form-group mt-2">
    <%= form.collection_radio_buttons :location, [
      ['fridge', 'fridge'],
      ['freezer', 'freezer'],
      ['pantry', 'pantry']], :first, :last do |b|
      
      b.label(:"data-value" => b.value, class: "col text-center") { b.radio_button + b.text }
      
    end %>
  </div>
  <div class="row mt-2 w-50 mx-auto">
    <%= form.submit %>
  </div>
<% end %>
