<div id="<%= dom_id ingredient %>">
  <p>
    <strong>Name:</strong>
    <%= ingredient.name %>
  </p>

  <p>
    <strong>Quantity:</strong>
    <%= ingredient.quantity %>
  </p>

  <p>
    <strong>Unit:</strong>
    <%= ingredient.unit %>
  </p>

  <p>
    <strong>Expires on:</strong>
    <%= ingredient.expires_on %>
  </p>

  <p>
    <strong>Location:</strong>
    <%= ingredient.location %>
  </p>

</div>
